<h1>New Database</h1>

<%= form_for :database, url: databases_path  do |f| %>
    <% if @db.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@db.errors.count, "error") %> prohibited
            this database from being saved:</h2>
          <ul>
            <% @db.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :host %><br>
      <%= f.text_field :host %>
    </p>
    <p>
      <%= f.label :dbschema %><br>
      <%= f.text_field :dbschema %>
    </p>


    <p>
      <%= f.submit %>
    </p>
    <%= link_to 'Back', databases_path %>
<% end %>